fa-icon {
  margin: 0rem 1rem;
}

.todo-list {
  margin-top: 5rem;

  .card {
    font-size: 1.6rem;
    border: none;
    margin-top: 0.5rem;
    background-color: #f8f8f8;

    &:hover {
      cursor: pointer;

      padding: 1rem 0rem;
      border-top-left-radius: 30px;
      border-bottom-right-radius: 30px;

      background-color: #f0f0f0;

      .todo-tools {
        display: inline;
      }
    }
  }

  .todo-tools {
    display: none;

    fa-icon {
      margin: 0rem 0.5rem;
      cursor: pointer;
    }
  }
}
