<div class="row justify-content-center md3">
  <div class="col-md-4 text-center">
    <h1>CATEGORIES</h1>
    <p class="info-text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur
      similique blanditiis ratione aliquid omnis consequuntur nisi?
    </p>
  </div>
</div>

<div class="row g-2 col-md-12">
  <form action="" class="input-group align-items-center justify-content-center">
    <div class="col-md-10 form-group">
      <input
        type="text"
        placeholder="Add New Category..."
        name="category-name"
        class="form-control"
      />
    </div>
    <div class="col-md-2">
      <button type="submit" class="form-control btn btn-todo ms-3">Add</button>
    </div>
  </form>
</div>

<div class="row categories-list">
  <div class="col-md-3">
    <div class="card drop-shadow">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-start">
            <div class="badge badge-primary">CATEGORY</div>
          </div>
          <div class="float-end cat-tools">
            <fa-icon icon="pencil" class="text-success"></fa-icon>
            <fa-icon icon="trash" class="text-danger"></fa-icon>
          </div>
        </div>

        <div class="todo-content">
          <h2>Category</h2>
          <small class="text-secondary"
            >Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Laboriosam vero hic quo veritatis eveniet.</small
          >
        </div>

        <span class="badge badge-danger">3 - TODOS</span>
      </div>
    </div>
  </div>
</div>
